.hidden {
  display: none;
}

.section {
  margin-bottom: 1em;
}

.text {
  margin-bottom: 0.6em;
  color: var(--vscode-descriptionForeground);
}

.filename {
  color: var(--vscode-textPreformat-foreground);
}

button {
  max-width: 300px;
}
