:root {
  background-color: var(--vscode-welcomePage-background);
}

#viewport {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  overflow: hidden auto;
  box-sizing: border-box;
}

#viewport .effect {
  position: fixed;
  margin: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

#viewport .effect.border {
  top: 0;
  bottom: 0;
  z-index: 2;
  border: var(--vscode-focusBorder) solid 1px;
}

#viewport .effect.top {
  top: 0;
  height: 0.5em;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0,0,0,0.9), transparent);
}

#viewport .effect.bottom {
  bottom: 0;
  height: 0.5em;
  z-index: 1;
  background: linear-gradient(to top, rgba(0,0,0,0.9), transparent);
}

.hidden {
  display: none;
}

.section {
  margin: 1em;
}

.text {
  margin-bottom: 0.2em;
}

.filename {
  color: var(--vscode-textPreformat-foreground);
}

button {
  margin: 1em auto;
  display: block;
  max-width: 300px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--vscode-sideBar-background);
  cursor: default;
}

tr {
  line-height: 2em;
}

tr:nth-child(odd) {
  background-color: var(--vscode-list-hoverBackground);
}

tr:nth-child(1) {
  background-color: var(--vscode-sideBarSectionHeader-background);
  color: var(--vscode-sideBarSectionHeader-foreground);
  text-transform: uppercase;
  font-size: smaller;
}

th:nth-child(1), td:nth-child(1) {
  border-right: 1px solid var(--vscode-list-deemphasizedForeground);
  text-align: right;
  padding-right: 0.5em;
}

th:nth-child(2), td:nth-child(2) {
  text-align: left;
  padding-left: 0.5em;
}

td:nth-child(1) {
  color: var(--vscode-textPreformat-foreground);
}

tr:hover td {
  background-color: var(--vscode-list-activeSelectionBackground);
}

.icon i {
  position: relative;
  top: 3px;
}

input[type="checkbox"] {
  visibility: hidden;
  position: absolute;
}

input[type="checkbox"] + label {
  cursor: pointer;
}

.checkbox {
  color: var(--vscode-checkbox-foreground);
  background-color: var(--vscode-checkbox-background);
  border-color: var(--vscode-checkbox-border);
  border-radius: 3px;
  padding: 1px;
  margin-right: 0.5em;
}

.checkbox > i {
  visibility: hidden;
  position: relative;
  top: 3px;
}

input[type="checkbox"]:checked + label .checkbox > i {
  visibility: visible;
}